.flex {
    display: flex;
}

.flex-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-bar {
    display: flex;
    flex-direction: row;
}

@media all and (min-aspect-ratio: 3/2) {
    .flex-page {
        flex-direction: row;
    }

    .flex-bar {
        flex-direction: column;
    }
}

.flex-fill {
    flex: 1 1 auto;
    overflow: hidden;
}

.flex-item {
    flex: 0 0 auto;
}

.hidden {
    display: none !important;
    visibility: collapse;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.img-responsive {
    width: 100%;
    height: auto;
    display:block;
}

.fill {
    width: 100%;
    height: 100%;
}