:host {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > *:first-child {
        flex: 1 1 auto;
        overflow: hidden;
    }

    & > *:not(:first-child) {
        flex: 0 0 auto;
    }
}

@media (min-aspect-ratio: 3/2) {
    :host {
        flex-direction: row;
    }
}