aside > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

aside > div {
    border: 1px solid black;
    border-radius: 4px;
}

aside > ul > li {
    display: block;
    margin: 0;
    padding: 2px;
}

@media all and (max-aspect-ratio: 3/2) {
    aside {
        width: 100vw;
    }

    aside > ul {
        width: 92vw;
        float: left;
    }

    aside > div {
        float: left;
        width: calc(4vw - 2px);
        height: calc(11.5vw + 2px);
        margin-top: 2px;
    }

    aside > ul > li {
        float: left;
        width: calc(23vw - 4px);
        height: calc(11.5vw + 4px);
    }
}

@media all and (min-aspect-ratio: 3/2) {
    aside {
        height: 100vh;
    }

    aside > ul {
        height: 92vh;
    }

    aside > div {
        float: none;
        height: calc(4vh - 2px);
        width: calc(46vh - 22px);
        margin-left: 2px;
    }

    aside > ul > li {
        float: none;
        width: calc(46vh - 20px);
        height: calc(23vh - 4px);
    }
}

aside > ul > li > div {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    height: calc(100% - 12px);
}