<aside>
    <div (click)="moveBack()" class="center">
        <span>&lt;</span>
    </div>
    <ul>
        <li *ngFor="let item of visibleItems">
            <div *ngIf="item?.src" class="center" (click)="selectItem(item)">
                <img class="img-responsive" src="images/{{item.src}}" />
            </div>
            <div *ngIf="!item?.src" class="center" (click)="addItem()">
                <span>+</span>
            </div>
        </li>
    </ul>
    <div (click)="moveNext()" class="center">
        <span>&gt;</span>
    </div>
</aside>